<section
    class="bg-black text-white px-6 py-12 md:px-[20%] grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
    id="endereco"
>
    <div class="space-y-4">
        <h1 class="text-4xl md:text-6xl font-bold">Nosso Endereço</h1>
        <p class="text-xl md:text-2xl">Jales - SP, Centro, 2264</p>
    </div>

    <div class="w-full h-64 md:h-80 rounded-lg overflow-hidden shadow-lg">
        <iframe
            class="w-full h-full"
            title="Mapa da Auto Escola Ideal em Jales"
            aria-label="Mapa da localização da Auto Escola Ideal em Jales"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.6731035845357!2d-50.550305723755855!3d-20.271587401428686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94982fee4ea4794f%3A0x94b9e6b9263f3c6d!2sAuto%20Escola%20Ideal%20%7C%20Em%20Jales%20SP!5e0!3m2!1spt-BR!2sbr!4v1753704911003!5m2!1spt-BR!2sbr"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
    </div>
</section>
