<section
    id="inicio"
    class="grid grid-cols-1 lg:grid-cols-5 gap-8 px-5 lg:px-20 items-center min-h-screen pt-30 lg:pt-20 bg-blue-700 text-white"
>
    <!-- Conteúdo principal -->
    <div class="flex flex-col w-full items-start col-span-2 gap-6">
        <!-- Texto grande responsivo -->
        <div class="flex flex-col gap-0">
            <h3 class="text-2xl font-medium text-gray-200">A autoescola</h3>
            <h1 class="text-8xl md:text-9xl font-bold text-blue-200">IDEAL</h1>
            <h2 class="text-3xl md:text-4xl font-semibold text-gray-300">
                para você!
            </h2>
        </div>

        <!-- Descrição -->
        <p
            class="text-justify text-blue-300 !text-[16px] md:text-lg leading-relaxed max-w-md"
        >
            A Autoescola de Jales-SP que ensina você a dirigir com segurança,
            confiança e estilo, transformando cada aula em um passo rumo à
            liberdade e autonomia.
        </p>

        <!-- CTA Button -->
        <a
            href="https://wa.me/5517997572900"
            class="inline-flex items-center gap-2 px-8 py-3 rounded-lg bg-amber-400 text-amber-900 font-semibold hover:bg-amber-600 hover:text-amber-200 transition transform hover:scale-105"
            role="button"
            target="_blank"
            aria-label="Começar processo de matrícula agora"
        >
            Começar agora
            <span class="material-symbols-outlined" aria-hidden="true"
                >arrow_forward</span
            >
        </a>

        <!-- Informações adicionais -->
        <p
            class="text-sm md:text-base font-semibold text-blue-200 border-l-4 border-blue-600 pl-4"
        >
            Trabalhamos com: Carro (B), Moto (A), Ônibus (D) e Carreta (E)
        </p>
    </div>

    <!-- Imagem lateral para desktop -->
    <div class="w-full h-full object-contain object-center col-span-3">
        <div class="flex relative">
            <img
                src="/img-inicio.png"
                alt="Aluna da Autoescola Ideal sorrindo"
                class="w-full h-full object-contain object-center"
            />
            <div
                class="bg-linear-0 from-blue-700 to-transparent absolute bottom-0 w-full h-20"
            >
            </div>
        </div>
    </div>
</section>
