---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <title>Auto Escola Ideal</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <!-- SEO: Schema.org (LocalBusiness) -->
    <script type="application/ld+json" set:html={`{
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "Auto Escola Ideal",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Centro, 2264",
        "addressLocality": "Jales",
        "addressRegion": "SP",
        "postalCode": "15700-000",
        "addressCountry": "BR"
      },
      "url": "https://seusite.com",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": -20.271587,
        "longitude": -50.5503057
      }
    }`}></script>
  </head>

  <body class="flex flex-col">
    <Navbar />

    <main class="flex flex-col gap-10">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script src="../javascript/scripts.js"></script>
